{% extends "subpage_base.html" %}
{% load cms_tags %}

{% block sub_content %}
    <h1>{% page_attribute "page_title" %}</h1>
	<p  style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   <a title="View InitialSummary.v0_VMS on Scribd" href="http://www.scribd.com/doc/163301113/InitialSummary-v0-VMS"  style="text-decoration: underline;" >InitialSummary.v0_VMS</a></p><iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/163301113/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_33186" width="100%" height="600" frameborder="0"></iframe>
  {% placeholder subpage_content %}
 {% endblock %}